body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF4E6;
    color: #333;
}

.navbar {
    background-color: #FF8C00; 
    box-shadow: 0 2px 4px #8c8383;
}

.navbar-brand {
    color: #333;
    font-weight: bold;
}

.night-theme .navbar-brand {
    color: #fffbfb;
}

.navbar-nav .nav-item .nav-link {
    color: #333;
    font-size: 1.2em;
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #e74c3c; 
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.night-theme {
    background-color: #2c3e50;
    color: #f8feff;
}

.night-theme .navbar {
    background-color: #566a7d;
    color: #f8feff;

}

.night-theme .navbar-nav .nav-item .nav-link {
    color:#ddd;
}

.night-theme footer{
    background-color: #566a7d;
    color: #f8feff;
}

.night-theme .accordion-title {
    background-color: #17496a;
    color: #f8feff;
}

.night-theme .accordion-title:hover {
    background-color: #2578b0;
}

.night-theme .more-button{
    background-color: #17496a;
    color: #f8feff;
}

.night-theme .more-button:hover{
    background-color: #2578b0;
}

.night-theme .change-color-btn {
    background-color: #566a7d;
    color: #fff;
}

.night-theme .change-color-btn:hover{
    background-color: #2578b0;
}

.night-theme #dateTime{
    color: #fff;
}

.night-theme .recipes-section h2{
    color: #fff;
}

.night-theme .recipe-more p{
    color: #000000;
}

.night-theme .filter-buttons button{
    background-color: #17496a;
}

.night-theme .filter-buttons button:hover{
    background-color: #2578b0;
}

.night-theme .search-button{
    background-color: #17496a;
}

.night-theme .search-button:hover{
    background-color: #2578b0;
}

.night-theme .form-step .next-button{
    background-color: #17496a;
}

.night-theme .form-step .next-button:hover{
    background-color: #2578b0;
}

.night-theme .button-container1 .btn-primary {
    background-color: #17496a;

}

.night-theme .button-container1 .btn-primary:hover {
    background-color: #2578b0;
}

.night-theme .button-container1 .btn-secondary {
    background-color: #17496a;
}

.night-theme .button-container1 .btn-secondary:hover {
    background-color: #2578b0;
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.change-color-btn {
    background-color: #FF8C00;  
    color: #333;  
    font-size: 1.2em;
    font-weight: 500;  
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.change-color-btn:hover {
    background-color: #e74c3c; 
    color: #FFF4E6;  
}

.recipes-section {
    padding: 60px 20px;
    text-align: center;
}

.recipes-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #2c3e50;
}

.recipe-search {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 70%;
}

.search-button {
    padding: 10px 20px;
    background-color: #FF8C00;
    color: #FFF4E6;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e74c3c;
    color: #FFF4E6;
}

.recipe-card {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.recipe-card img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.recipe-name {
    font-size: 1.8em;
    margin: 10px 0;
    color: #2c3e50;
}


#recipe-page h2, #recipe-page figure {
    text-align: center;
}

.hidden {
    display: none;
}

.more-button {
    background-color: #FF8C00;
    color: #333;
    font-size: 1em;
    font-weight: 500;
}

.more-button:hover {
    background-color: #ff8d03;
}

.more-button:focus {
    outline: none; 
    box-shadow: none;
}

.form-page {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px #988b8b;
    text-align: center;
}

.form-page h1 {
    font-size: 1.8em;
    margin-bottom: 30px;
    color: #2c3e50;
}

.form-page form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-page label {
    font-size: 1.8em;
    color: #333;
    text-align: left;
}

.form-control,
.form-select,
.form-check-input {
    font-size: 1.2em;
    padding: 10px;
}

.form-page1 {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-page1 h1 {
    font-size: 1.8em;
    margin-bottom: 30px;
    color: #2c3e50;
}


.auth-form, #logoutContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-container1 {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-container1 .btn {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container1 .btn-primary {
    background-color: #FF8C00;
    color: white;
}

.button-container1 .btn-primary:hover {
    background-color: #e74c3c;
}

.button-container1 .btn-secondary {
    background-color: #FF8C00;
    color: white;
}

.button-container1 .btn-secondary:hover {
    background-color: #e74c3c;
}

#logoutContainer p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.faq-title {
    font-size: 2.5em;
    margin-bottom: 50px;
    color: #2c3e50;
}

.accordion-section {
    margin-bottom: 20px;
}

.accordion-title {
    cursor: pointer;
    padding: 15px;
    background-color: #FF8C00;
    color: white;
    border: none;
    outline: none;
    text-align: left;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
}

.accordion-title:hover {
    background-color: #e67e22;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.accordion-content p {
    margin: 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    background-color: #FF8C00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

#dateTime {
    font-size: 1.2em;
    color: #333;
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.star {
    font-size: 1em;
    color: grey;
    cursor: pointer;
}

.star.selected {
    color: gold;
}

.form-step {
    display: flex;
    flex-direction: column;
}

.form-step {
    display: none; 
    flex-direction: column;
}

.form-step h2 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.form-step.active {
    display: flex; 
}

.next-button,
.back-button {
    flex: 1;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.back-button {
    background-color: #e74c3c; 
}

footer {
    background-color: #FF8C00;
    color: #000;
    margin: 20px 0;
    padding: 20px 0;
    box-shadow: 0 2px 4px #8c8383; 
    text-align: center;
}